{% extends 'base.html.twig' %}

{% block page_contents %}
  <div class="card">
                                           
                             <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body profile-card">
                                <center class="mt-4"> <img src="/uploads/{{user.image}}"
                                        class="rounded-circle" width="150" />
                                   
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material mx-2">

                                     <div class="form-group">



                                        <label class=" col-sm-5">Nom et Prenom en Francais</label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">Nom et Prenom en Arabe</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly >
                                                 <input type="text" value="{user.nomfrancais~' '~ user.prenomfrancais}}"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly style="margin-left: 40px " >
                                        </div>
                                    </div>
                                     <div class="form-group">



                                        <label class=" col-sm-5">Ville Actuel</label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">Ville</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly >
                                                 <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly style="margin-left: 40px " >
                                        </div>
                                    </div>

                                     <div class="form-group">



                                        <label class=" col-sm-5">Telephone</label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">Mobile</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly >
                                                 <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly style="margin-left: 40px " >
                                        </div>
                                    </div>

                                     <div class="form-group">



                                        <label class=" col-sm-5">Date de Naissance</label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">Date d'Inscription</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly >
                                                 <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly style="margin-left: 40px " >
                                        </div>
                                    </div>
                                     <div class="form-group">



                                        <label class=" col-sm-5">Tranche d'Age</label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">Sexe</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly >
                                                 <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly style="margin-left: 40px " >
                                        </div>
                                    </div>
                                    <div class="form-group">



                                        <label class=" col-sm-5" style=" font-weight: bold;">Niveau</label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">Niveau de Deplome</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly >
                                                 <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line col-sm-5" readonly style="margin-left: 40px " >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                       <label class="col-md-12 mb-0">Gmail</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-md-12 mb-0">Adress</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-md-12 mb-0">Lieu De Naissance En Francais</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-md-12 mb-0">Lieu De Naissance En Arabe</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>

                                    
                                    <div class="form-group">
                                       <label class="col-md-12 mb-0">Numero de telephone de tuteur</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Fonction de Tuteur</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Les Allergies</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Les autres maladies</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Johnathan Doe"
                                                class="form-control ps-0 form-control-line" readonly >
                                        </div>
                                    </div>
                                  
                                    
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>            
                                        </div>
                                        {% endblock  %}